-# coding: utf-8

:coffeescript
  $ ->
    waitingAnimation = new Spinner({
      width: 2,
      color: '#ccc'
    }).spin($('#gantt').get(0))

    $gantt = $('#gantt')
    projectId = $gantt.data('project-id')

    $.getJSON '/api/gantt.json', {project_id: projectId}, (result) ->
      if result.length == 0
        waitingAnimation.spin()
        $gantt.append('期限付きのissueは存在しません')
        return

      values = []
      for item in result
        scheduled_on = new Date(item.scheduled_on)
        scheduled_on.setDate(scheduled_on.getDate()-1)
        to = "/Date("+scheduled_on.getTime()+")/"
        label = $('<div />').append($('<a />').prop('href', '/issues/show/'+item.id).text(item.title)).html()

        values.push {
          name: label,
          values: [{
            to: to,
            from: to,
          }]
        }

      waitingAnimation.spin()
      $gantt.gantt({
        source: values
        itemsPerPage: 10,
        scale: 'date',
        minScale: 'date',
        maxScale: 'months'
      })

-gantt_options = {}
-gantt_options[:'data-project-id'] = project.id if locals.key?(:project)
#gantt{gantt_options}
