-# coding: utf-8

%ul.nav
  %li
    %a{href: '/'}Home
%ul.nav.pull-right
  -if logged_in?
    %li
      %a#new-issue.btn.btn-small{:href=>'#issue-form', :role=>'button', :'data-toggle'=>'modal', :style=>'padding: 2px 10px;'}
        %i{:class=>'icon-pencil'}
    %li.dropdown
      %a{:href=>'#', :role=>:button, :class=>'dropdown-toggle', :'data-toggle'=>'dropdown'}=current_account.name
      %ul.dropdown-menu{:role=>:menu}
        %li
          %a{} settings
        %li.divider
        %li
          %a{:href=>url(:sessions, :destroy)} logout
  -else
    %li
      %a{href: '/auth/twitter'}Login
