-# coding: utf-8

%ul.nav
  %li.hidden-phone
    %a{href: '/'}Home
  -if logged_in?
    %li.dropdown.visible-phone
      %a.dropdown-toggle{:href=>'#', :'data-toggle'=>'dropdown'}
        projects
        %ul.dropdown-menu.no-collapse
          -@projects.each do |project|
            %li=link_to project.title, url(:projects, :show, :id=>project.id)
          %li=link_to 'プロジェクト未所属', url(:projects, :not_belong)
          %li=link_to 'プロジェクトを追加する', url(:projects, :new)

    %li.visible-phone
      %a{:href=>'#issue-form', :'data-toggle'=>'modal'}
        new
%ul.nav.pull-right.hidden-phone
  -if logged_in?
    %li
      %a#new-issue.btn.btn-small{:href=>'#issue-form', :role=>'button', :'data-toggle'=>'modal', :style=>'padding: 2px 10px;'}
        %i{:class=>'icon-pencil'}
    %li.dropdown
      %a{:href=>'#', :role=>:button, :class=>'dropdown-toggle', :'data-toggle'=>'dropdown'}=current_account.name
      %ul.dropdown-menu{:role=>:menu}
        %li
          %a{} settings
        %li.divider
        %li
          %a{:href=>url(:sessions, :destroy)} logout
  -else
    %li
      %a{href: '/auth/twitter'}Login
