-# coding: utf-8

%table.table.table.striped
  %thead
    %tr
      %th #
      %th タイトル
      %th 概要
  %tbody
    -issues.each do |issue|
      %tr
        %td=issue.id
        %td=issue.title
        %td=truncate issue.description, :length=>40
