-# coding: utf-8

%table.table.table.striped
  %thead
    %tr
      %th id
      %th プロジェクト#タイトル
      %th 概要
  %tbody
    -issues.each do |issue|
      -color_code = color(issue)
      %tr{:style=>'background-color: '+(color_code.nil? ? 'inherit' : '#'+color_code)}
        %td=issue.id
        %td
          -project_title = link_to(issue.project.title, url(:projects, :show, :id=>issue.project.id)) unless issue.project.nil?
          -issue_title = link_to(issue.title, url(:issues, :show, :id=>issue.id))
          =[project_title, issue_title].compact.join('#')
        %td=truncate issue.description, :length=>40
