-# coding: utf-8

:coffeescript
  $ ->
    project_data = $('#issue-form').data()
    project_title = project_data.projectTitle
    is_owner = project_data.isOwner?
    project_owner = project_data.projectOwner

    if project_title?
      title = ''
      if is_owner
        title = project_title
      else
        title = project_title+'('+project_owner+')'
      $('#issue_new_header').val(title+'#')

    $('#issue-form').on 'shown', ->
      $('#issue_new_header').focus()

    $('#issue-form').on 'hidden', ->
      $('#issue_new_header_scheduled_on').datepicker('hide')

    $('#issue_new_header').keydown (e) ->
      if e.ctrlKey && e.keyCode == 13 # ctrl+enter
        console.log e.ctrlKey, e.keyCode
        $('#issue-form form').submit()

    $('#issue_new_header_scheduled_on').datepicker({
      format: 'yyyy/mm/dd'
    })

-project = get_project()
-project_title = project.title unless project.nil?
-is_owner = project.nil? ? false : project.owner?(current_account.id)
-project_owner = project.nil? ? '' : project.account.nickname
-project_data = {:'project-title'=>project_title, :'is-owner'=>is_owner, :'project-owner'=>project_owner}
#issue-form.modal.hide.fade{:role=>'dialog', :tabindex=>'-1', :'aria-labelledby'=>'issue-form', :'aria-hidden'=>true, :data=>project_data}
  =form_for :issue, url(:issues, :create) do |f|
    .modal-header
      %button.close{:type=>'button', :'data-dismiss'=>'modal', :'aria-hidden'=>true}×
      %h3
        新規issue発行
    .modal-body
      =f.text_area :body, :value=>'', :id=>:issue_new_header
      .input-prepend
        %span.add-on
          %i.icon-calendar
        =f.text_field :scheduled_on, id: 'issue_new_header_scheduled_on', value: nil
      %p
        %small ctrl+enterで保存します
    .modal-footer
      %a.btn{:href=>'#', :'data-dismiss'=>'modal', :'aria-hidden'=>'true'} close
      =f.submit 'save', :class=>'btn btn-primary'
