-# coding: utf-8

-if locals.key?(:new_count) && locals.key?(:close_count)
  #issue-aggrigate
    %span.new-count-label
      未処理:
    %span.new-count
      =new_count
    %span.close-count-label
      処理済:
    %span.close-count
      =close_count

%table.table.table.striped.table-condensed.table-bordered
  %thead
    %tr
      %th id
      %th プロジェクト#タイトル(期限, 経過日数)
      %th 概要
  %tbody
    -issues.each do |issue|
      -color_code = color(issue)
      %tr{:style=>'background-color: '+(color_code.nil? ? 'inherit' : '#'+color_code)}
        %td=issue.id
        %td
          -project_title = link_to(issue.project.title, url(:projects, :show, :id=>issue.project.id)) unless issue.project.nil?
          -issue_title = link_to(issue.title, url(:issues, :show, :id=>issue.id))
          =[project_title, issue_title].compact.join('#')
          ="(#{[show_issue_schedule(issue), date_diff(Date.today, issue.created_at)].compact.join(', ')})"
        %td=truncate issue.wiki.outline, :length=>40

=paginate issues
