-# coding: utf-8

.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      -if login?
        %li.nav-header プロジェクト
        -@projects.each do |project|
          %li=link_to project.title, url(:projects, :show, :id=>project.id)
        =link_to 'プロジェクトを追加する', url(:projects, :new)
