-# coding: utf-8

.pull-right
  .btn-toolbar
    .btn-group
      =button_link '', url(:wiki, :edit, :project_id=>wiki.project.id, :title=>wiki.title), {:icon=>'icon-pencil'}
      =button_link '', url(:wiki, :list, :project_id=>wiki.project.id), {:icon=>'icon-list'}
