-# coding: utf-8

%fieldset
  %legend Issue
  %div
    =f.text_area :body, :value=>@issue.text, :id=>:issue_body_full
  =f.submit pat(:save), :class => 'btn btn-primary'
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:root, :index)}';return false", :class => :btn
