-# coding: utf-8

%div
  %div.pull-right
    =button_link('編集', url(:issues, :edit, :id=>@issue.id), :icon=>'icon-pencil')
  %h2=@issue.title

%h3 説明
=wiki_format @issue.description

-unless @issue.wiki.blank?
  %h3 wiki
  %section.wiki.well
    =wiki_format @issue.wiki
