-# coding: utf-8

%article.wiki.issue.clearfix
  -wiki_title = @issue.wiki.title
  -wiki_body = @issue.wiki.outline
  %h1
    =wiki_title
  .clearfix{:style=>'margin-top: -20px'}
    =partial 'parts/issue_menu', :locals=>{:issue=>@issue}
  %section.issue_body
    =wiki_format wiki_body
    .pull-right.issue-infomation
      =show_issue_schedule(@issue)
