-# coding: utf-8

%div
  .pull-right
    .btn-toolbar
      .btn-group
        =button_link('編集', url(:issues, :edit, :id=>@issue.id), :icon=>'icon-edit')
        -if @issue.issue_status.title == 'new'
          =button_link('完了', url(:issues, :status_close, :id=>@issue.id), :method=>:put, :icon=>'icon-ok')
        -else
          =button_link('未完了', url(:issues, :status_new, :id=>@issue.id), :method=>:put, :icon=>'icon-remove')
  %h2=@issue.title

%h3 説明
=wiki_format @issue.description

-unless @issue.wiki.blank?
  %h3 wiki
  %section.wiki.well
    =wiki_format @issue.wiki
