-# coding: utf-8

%article.wiki.issue.clearfix
  -wiki_title = @issue.wiki.title
  -wiki_body = @issue.wiki.outline
  %h1
    =wiki_title
  .clearfix{:style=>'margin-top: -20px'}
    =partial 'parts/issue_menu', :locals=>{:issue=>@issue}
  %section.issue_body
    =wiki_format wiki_body
    .pull-right.issue-infomation
      =show_issue_schedule(@issue)

%section.wiki.issue.comment-list.row
  %h2 comments
  =partial 'parts/comment_list', locals: {comments: @comments}
%section.wiki.issue.comment-form.row
  =partial 'parts/comment_form', locals: {wiki: @issue.wiki}
