-# coding: utf-8

-if wiki_index?
  %article.wiki
    =partial 'parts/wiki_list', locals: {wikis: all_wiki_pages}
-else
  -if @wiki.body.blank?
    -form_for :wiki, url(:wiki, :update, :project_id=>@wiki.project.id, :title=>@wiki.title) do |f|
      =partial 'wiki/form', :locals => {:f=>f, :wiki=>@wiki}
  -else
    =partial 'parts/wiki_menu', :locals=>{:wiki=>@wiki}
    %article.wiki
      =wiki_format @wiki.body
      %section.wiki.issue.comment-list.row
        %h2 comments
        =partial 'parts/comment_list', locals: {comments: @comments}
      %section.wiki.issue.comment-form.row
        =partial 'parts/comment_form', locals: {wiki: @wiki}
