-# coding: utf-8

%div
  .pull-right
    .btn-toolbar
      .btn-group
        =button_link('編集', url(:projects, :edit, :id=>@project.id), :icon=>'icon-edit')
  %h2=@project.title

-unless @project.description.blank?
  %div
    =@project.description

=partial 'parts/issue_stat', locals: {project_id: @project.id}

%h3 タスク一覧
=partial 'parts/issue_list', :locals=>{:issues=>@issues}
