-# coding: utf-8

-unless logged_in?
  Login with
  =link_to('Twitter',  '/auth/twitter')
-else
  =partial 'parts/issue_list', :locals=>{issues: @issues, new_count: @issue_new_count, close_count: @issue_close_count}
